<?php
////////////////////////////////////////////////////////////////////////////////
// Setup file for ENT Management WordPress plugin
////////////////////////////////////////////////////////////////////////////////

// CAS base URL
define ("CAS_URL", "https://www.dev.laclasse.com/sso/");

// ENT URL
define ("ENT_URL", "www.dev.laclasse.com");

// ENT name
define ("ENT_NAME", "Laclasse.com");

// Akismet key for handling SPAMs comments
define("AKISMET_KEY", "123456789012");

// Directory API URL
define("ANNUAIRE_URL", "https://www.dev.laclasse.com/");

// Directory API user
define("ANNUAIRE_USER", "BLOGS");

// Directory API password
define("ANNUAIRE_PASS", "12345678533643246564254");

// Plugin that force users to log in
define('WP_FORCE_LOGIN', 'wp-force-login/wp-force-login.php');
