<?php
/**********************************************************************
	Fichier de configuration du plugin de management de WP depuis un ENT.
**********************************************************************/

// tableau de configuration pour la connexion à CAS.

$wpcas_options = array(
  'laclasse' => array(
  	'cas_version' => '2.0',
  	'include_path' => '/var/www/html/CAS-1.2.0/CAS.php',
  	'server_hostname' => 'dev.laclasse.com', 
  	'server_port' => '443',
  	'server_path' => '/sso'
	 ),
  'laclasseV3' => array(
    'cas_version' => '2.0',
    'include_path' => '/var/www/html/CAS-1.2.0/CAS.php',
    'server_hostname' => 'v3.laclasse.com',.
    'server_port' => '443',
    'server_path' => '/sso'
   ),
	 'cybercollege42' => array(
  	'cas_version' => '2.0',
  	'include_path' => '/var/www/html/CAS-1.2.0/CAS.php',
  	'server_hostname' => 'cas.cybercolleges42.fr', 
  	'server_port' => '443',
  	'server_path' => ''
	 ),
  'ent01' => array(
    'cas_version' => '2.0',
    'include_path' => '/var/www/html/CAS-1.2.0/CAS.php',
    'server_hostname' => 'cas.colleges.ain.fr',
    'server_port' => '443',
    'server_path' => ''
   )   
	);

// Nom du serveur ENT
define (SERVEUR_ENT, "www.dev.laclasse.com");

// Nom de l'ENT
define (NOM_ENT, "Laclasse.com");

// Mode du serveur DEV ou PROD : en DEV, pas de marquage Xiti
define (MODE_SERVEUR, "DEV"); // PROD

// Nom de domaine de la plateforme de blog.
define(BLOG_DOMAINE, "blogs-dev.laclasse.com");

// chaine statique MD5 pour les encodages de clé de sécurité sur divers services web avec l'ENT.
define(MD5_SALT, "xxxxxxxx");

// Cle Akismet pour la gestion des spams dans les commentaires.	
define(AKISMET_KEY, "169f1a275c36");

// Clé d'application pour l'annuaire
define(ANNUAIRE_URL, "https://v3dev.laclasse.com/");

// Clé d'application pour l'annuaire
define(ANNUAIRE_APP_ID, "BLOGS");

// Clé de signature pour l'annuaire
define(ANNUAIRE_API_KEY, "La clé de signature des requetes à l'annuaire");

// ----------------------------------------------------------------------------------------
// Configuration pour le Front
// ----------------------------------------------------------------------------------------

define(APP_ROOT, ABSPATH);

# virtual path de l'application
define(APP_PATH, 'wp-content/plugins/ent-wp-management/front');

# Version de l'application
define(APP_VERSION, '2.0.0');

# Nombre de propositions max dnas la partie gauche
define(MAX_BLOG_PROPOSALS, '10');

# url pour dialoguer avec l'api de WordPress  ------------------------> MODIFIER LE LAYOUT POUR RECUPERER CORRECTEMENT LES CONSTANTES
$BLOGS_WORDPRESS = array(
  'host' => 'http://blogs-dev.laclasse.com/',
  'get' => '?ENT_action=USER_BLOG_LIST&username=$1',
  'get_all' => '?ENT_action=BLOG_LIST&username=$1',
  'create' => '?ENT_action=CREATE_BLOG&blogname=$1',
  'subscribe' => '?ENT_action=INSCRIRE&blogname=$1',
  'unsubscribe' => '?ENT_action=DESINSCRIRE&blogname=$1',
  'delete' => 'wp-login.php?ENT_action=SUPPRIMER_BLOG&blogname=$1',
  'exists' => '?ENT_action=BLOG_EXISTS&blogname=$1' . "." . BLOG_DOMAINE,
  'getwpid' => '?ENT_action=BLOG_ID&blogname=$1' . BLOG_DOMAINE,
  'getcurrentuser' => '?ENT_action=CURRENT_USER'
);