<div class="row-fluid purcent-page" style="width: 100%; margin: 0"	>
  <div class="container purcent-page">
    <div id="contentAsideId" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 purcent-page">
        <div class="purcent-page" data-ui-view="aside"></div>
    </div>
    <div id="contentMainId" class="col-xs-12 col-sm-12 col-md-6 col-lg-8 purcent-page sons" >
        <div data-ui-view="main" class="damier"></div>
    </div>    	
  </div>
  <growl-notifications></growl-notifications>
	<div ng-repeat="(id, notification) in notifications.success track by id">
    <growl-notification class="success">
      {{notification}}
    </growl-notification>
  </div>

  <div ng-repeat="(id, notification) in notifications.error track by id">
    <growl-notification class="error">
      {{notification}}
    </growl-notification>
  </div>

  <div ng-repeat="(id, notification) in notifications.warning track by id">
    <growl-notification class="warning">
      {{notification}}
    </growl-notification>
  </div>

  <div ng-repeat="(id, notification) in notifications.info track by id">
    <growl-notification class="info">
      {{notification}}
    </growl-notification>
  </div>
</div>