
/*---- Les différents champs et ses labels ----*/
.champs {
	margin: 10px;
	margin-bottom: 20px;
}
.champs label {
	display: block;
	font-size: 16px;
	font-weight: normal;
}

/*----- les glyphicon bootstrap -----*/
.champs .glyphicon.glyphicon-remove {
	color: red;
}

.champs .glyphicon.glyphicon-ok {
	color: green;
}

/*----- le dropdown -----*/

.dropdown-menu.regroupements {
	max-height: 300px;
	overflow: auto;
}

.dropdown-search {
	margin: 5px 5px;
	width: calc( 100% - 10px );
}

