growl-notifications {
  position: fixed;
  top: 30px;
  right: 2px;
  z-index: 1000;
}

growl-notifications growl-notification {
  background: white;
  padding: 15px 30px;
  max-width: 500px;
  display: block;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #eeeeee;
  border-left-width: 5px;
  border-radius: 3px; 
}
growl-notifications growl-notification.success{
  border-left-color: #449d44;
}
growl-notifications growl-notification.error{
  border-left-color: #d9534f;
}
growl-notifications growl-notification.warning{
  border-left-color: #f0ad4e;
}
growl-notifications growl-notification.info{
  border-left-color: #5bc0de;
}