html,
body {
    height: 100%;
}

.purcent-page {
	height: 100%;
}

.purcent-page .filter-display{
	height: 40px;
}

.purcent-page .filter-none{
	display: none;
}

.purcent-page .with-filter{
	height: calc(100% - 40px);
}

#contentAsideId {
	overflow-y: auto;
}

.purcent-page .sons div{
	height: 100%;
	overflow-y: auto;
}

.purcent-page .first-sons > div{
    height: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}
.container {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;    
}

.container *{
    margin: 0;
    padding: 0;
}
.damier {
    background-color: #eee;
}

.damier ul{
    height: 100%;
}

.damier .petite, .case{
	width: 25%;
}

.damier .petite.case.show-back .toggle-configure{
    left: auto;
    right: 0.5em;
}

.damier .petite.case .inactive{
    opacity: 0.33;
    cursor: default;
}

.damier .petite.case.show-back .configure {
    padding: 0.5em;
    padding-top: 1em;
    font-size: 0.9em;
    overflow: hidden;
}

.damier .petite.case .toggle-configure {
    background: transparent;
    position: absolute;
    cursor: pointer;
    top: 0.5em;
    left: 0.5em;
    height: 1em;
    width: 1em;
}
.damier .petite.case .toggle-configure .icone{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
}
.damier .petite.case .toggle-configure  .icone.parametrer {
    background-image: url('../vendor/laclasse-common-client/images/icon_admin-parametrer.svg');
}
.damier .petite.case.show-back .configure.back.blanc .toggle-configure .icone.visualiser {
    background-image: url('../vendor/laclasse-common-client/images/icon_admin-viz.svg');
}

.damier .petite.case .blog-name{
    width: 100%;
    padding: 0 10%;
    text-align: center;
    position: absolute;
    font-size: 20px;
    line-height: 1.1em;
    max-height: 2.2em;
    left: 0;
    top: 30%;
    color: white;
    cursor: pointer;
}

.damier .petite.case .glyphicon-search, .damier .petite.case .glyphicon-share-alt{
    color: white;
    position: absolute;
    width: 100%;
    font-size: 160%;
    cursor: pointer;
}
.damier .petite.case .glyphicon-search{
    top: 60%;
    text-align: center;

}
.damier .petite.case .glyphicon-share-alt{
    top: 5%;
    right: 5%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.damier .petite.case.show-back .configure.back.blanc input{
    margin-bottom: 5px;
}

.damier .petite.case.show-back .configure.back.blanc .icon{
    display: block;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.damier .petite.case.show-back .configure.back.blanc .icon i{
    display: inline;
    margin-right: 5px;
}
.damier .petite.case.show-back .configure.back.blanc .icon.rss{
    overflow: hidden;
}
.damier .petite.case.show-back .configure.back.blanc .icon.rss i{
    color: orange;
}
.damier .petite.case.show-back .configure.back.blanc .icon.delete i{
    color: red;
}

.damier .petite.case.show-front .configure.front .glyphicon-remove-circle{
    padding:5px;
    color:white;
    float: right;
    cursor:pointer;
}

/* Syntax hilighting for results of search */
.highlighted { 
    background-color: yellow;
}


